server:
  port: 8082

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**

        - id: catalog-service
          uri: http://localhost:8082
          predicates:
            - Path=/crbt/**

        - id: subscription-service
          uri: http://localhost:8083
          predicates:
            - Path=/subscription/**